.main {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.panel {
    width: calc(50% - 2 * 10px);
    height: calc(100vh - 2 * 10px);

    border: 1px solid blue;
    border-radius: 10px;
    padding: 5px;
    overflow-y: scroll;
}